body{
    background-color:#FDFDFD;
}

header{
    background-color:#48497F;
    width:100%;
    height:75px;
    font-family: 'Zilla Slab', serif;
    font-size:30px;
    color:#FFF;
}

.name{
    float:left;
    padding-left:150px;
}

.nav-right{
    float:right;
    padding-right: 20px;
}

.nav-li{
    padding-top:20px;
}

nav{
    padding-right:150px;
}

li{
    list-style: none;
}

ul{
    display:inline;
}
