body{
    background-color:#FDFDFD;
    font-family: 'Work Sans', sans-serif;
}

.container{
    max-width:960px;
    margin: 0 auto;
}

header{
    background-color:#48497F;
    width:100%;
    height:50px;
    /*
    font-family: 'Work Sans', sans-serif;
    */
    font-size:25px;
    color:#FFF;
}

.name{
    float:left;
    font-weight: bold;
}

.nav-right{
    float:right;
}

.nav-right-padding{
    padding-right: 20px;
}

.nav-li{
    padding-top:11px;
}

li{
    list-style: none;
}

ul{
    display:inline;
}

.content{
    background-color:#FFF;
    min-height:100vh;

}

h2{
    margin:0px;
    background-color:#cbcce0;
    color:#FFF;
    padding-top:11px;
    padding-left:15px;
    padding-bottom:10px;
}

.portfolio-item{
    padding:50px 15px 50px 15px;
    /*min-height: 100vh;*/
    flex-direction: row;
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-top: 5px solid #FDFDFD;
}

.second{
    background-color:#cbcce0;
    color:#FFF;
}

img{
    align-self:center; /*stops images from stretching*/
}

p{
    margin:0;
}